# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# Local env files
.env
.env*.local
.env.development
.env.production

# Prisma database files
/db/*.db
/db/*.db-journal
/prisma/migrations/dev.db*

# Uploads (user-generated content)
/public/uploads/*
!/public/uploads/.gitkeep

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Vercel
.vercel

# Logs
*.log
